/* .post {
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
    margin: 5%;
  }

.posts-grid {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(18em, 1fr));
    grid-gap: 2em;
  } */