:root {
    --accent:rgb(195, 252, 184);
    --primary: #fff;
    --secondary: #f7f8fc;
    --dark: #739e6d;
    --text-default: #000;
    --text-primary: #555;
    --text-secondary: #ccc;
  }
  card {
    
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    min-height: 100vh;
    background: var(--secondary);
    color: var(--text-default);
    display: grid;
    grid-template-columns: 1fr;
    transition: 0.3s ease-in-out;
    
  }
  
  .postcard {
    margin: 0 0 30px 0;
    border: 1px solid var(--dark);
    border-radius: 10px;
    background: 
    linear-gradient(
      50deg, rgb(195, 252, 184), 
      rgba(177, 177, 177, 0.4)
    );
    color: var(--dark);
    margin-bottom: 2rem;
  }
  
  .postcard-text {
    font-size: 1.7rem;
    color: var(--secondary);
    margin: 0;
    background-color: var(--dark);
    padding: 1em 2em;
    border-radius: 12px;
  }