.dash {
	width: 100vw;
	height:90%;
	margin-inline: auto;
	display: grid;
	grid-template-columns: auto 1fr 2fr;
	gap: 1rem;
	position: relative;
	background-color:#1f1f25;
}

.dashleftdash {
	width: clamp(100px, 20vw, 350px);
	height: 100%;
	position: sticky;
	top: 7rem;
	z-index: 2;
	background-color:#1f1f25;

}

.dashmiddle {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	gap: 1rem;
	padding: 2px;
}

.dashright {
	margin-left: 20px;
	position: sticky;
	width: clamp(300px, 20vw, 350px);
	top: 7rem;
	padding-block: 2px;
	border-radius: 15px;
	height: calc(100vh - 9rem);
	align-items: center;
	
}

@media (max-width: 700px) {
	.dashright {
		display: none;
	}
	.dash {
		grid-template-columns: auto 1fr;
	}
}

@media (max-width: 800px) {
	.dashleft {
		display: none;
	}
	.dash {
		grid-template-columns: 1fr;
	}
}
