:root {
    --accent:rgb(195, 252, 184);
    --primary: #fff;
    --secondary: #f7f8fc;
    --text-default: #000;
    --text-primary: #555;
    --text-secondary: #ccc;
  }
  body {
    
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    min-height: 100vh;
    background: var(--secondary);
    color: var(--text-default);
    display: grid;
    grid-template-columns: 16em auto;
    transition: 0.3s ease-in-out;
    
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: var(--text-primary);
  }
  
  small {
    color: var(--text-secondary);
  }
  
  p {
    color: var(--text-primary);
    font-size: 0.9em;
    line-height: 25px;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 2em;
    width: 16em;
    overflow-y: scroll;
  }
  
  .sidebar::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--secondary);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--text-secondary);
  }
  
  .sidebar ul:not(.help) {
    margin: 2em 0 5em 0;
  }
  
  .sidebar ul i {
    color: #8c91a6;
    font-size: 1.5em;
    margin-right: 0.5em;
  }
  
  .sidebar ul li {
    margin: 0.5em 0;
  }
  
  .sidebar ul a {
    padding: 0.7em;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.2s;
  }
  
  .sidebar ul a:hover {
    background: var(--accent);
    color: #fff;
  }
  
  .sidebar ul li:hover i {
    color: #fff;
  }
  
  .sidebar .help a:hover {
    background: var(--primary);
    color: var(--text-default);
  }
  
  .sidebar .help a:hover i {
    color: var(--text-default);
  }
  

  
  @media screen and (max-width: 1330px) {
    .dash {
      grid-template-columns: 1fr;
    }
  }
  
  @media screen and (max-width: 900px) {
    body {
      grid-template-columns: 6em auto;
    }
    .sidebar {
      width: 6em;
      padding: 1em;
    }
    .sidebar ul a {
      justify-content: center;
    }
    .sidebar ul a i {
      margin-right: 0;
    }
    .sidebar ul li span,
    .brand {
      display: none;
    }
    .activities{
      display: none;
    }
    .fas fa-search {
      display:inline-block;
    }
  }
  
  @media screen and (max-width: 600px) {
    html {
      font-size: 14px;
    }
    .wrapper{
      display: none;
      position: absolute;
    }
  
    .dash {
      width: 100vw;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1em;
    }

  }