
:root {
    --accent: rgb(195, 252, 184);
    --primary: #1f1f25;
    --secondary: #292a31;
    --text--default: #3c3e44;
  }
  
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background: var(--secondary);
    color: var(--text-default);
    transition: 0.3s ease-in-out;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: var(--accent);
  }

  a h4 {
    padding: 1;
  }
  
  small {
    color: var(--text-secondary);
  }
  
  p {
    color: var(--text-primary);
    font-size: 0.9em;
    line-height: 25px;
  }
  
  .sidebar {
    position: fixed;
    top: 3em;
    left: 0;
    height: 10%;
    padding: 2em;
    width: 14em;
    overflow-y:visible;
  }
  
  
  
  .sidebar ul:not(.help) {
    margin: 2em 0 5em 0;
  }
  
  .sidebar ul i {
    color: #8c91a6;
    font-size: 1.5em;
    margin-right: 0.5em;
  }
  
  .sidebar ul li {
    margin: 0.5em 0;
  }
  
  .sidebar ul a {
    padding: 0.7em;
    border-radius: 10px;  
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.2s;
  }
  span {
    margin-left:10px;
  }
  .sidebar ul a:hover {
    background: var(--accent);
    color:var(--secondary);
  }
  
  .sidebar ul li:hover i {
    color: #fff;
  }
  
  .sidebar .help a:hover {
    background: none;
    color: var(--text-default);
  }
  
  .sidebar .help a:hover i {
    color: var(--text-default);
  }
  
  @media screen and (max-width: 801px) {
  .sidebar{
    display: none;
  }
  }
  
  @media screen and (max-width: 900px) {
    .sidebar {
      width: 6em;
      padding: 1em;
    }
    .sidebar ul a {
      justify-content: center;
    }
    .sidebar ul a i {
      margin-right: 0;
    }
    .sidebar ul li span,
    .brand  {
      display: none;
    }
  }
  